:root{
    --nav-width:4rem;
    --bg-color-primary: rgb(20,20,20);
    --bg-color-secondary: rgb(60,60,60);
    --bg-color-third:rgb(90,90,90);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}


.header{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.info{
    /* display: flex;
    
    align-items: center;
    border-bottom: 1px solid black;
    width: 100vw; */

    display: flex;
    margin: 1rem auto;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: center;
    border-bottom: 1px solid grey;
    gap: 1rem;
}
.item{
    flex: 1 0 230px;
    text-align: center;
}

.item:last-child{
    padding-bottom: 1rem;
}

.search-menu{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width:100%;
    
}

.search-menu-item-2{
    flex: 1 0 auto;
    max-width: 500px;
}



.topnav{
    display: flex;
    height: 2rem;

    height: 2.5rem;

}

.searchBtn{
    background-color: coral;
}

.searchText{
    min-width: 5rem;
    flex: 1 1 auto;
}

.searchBtn-img{
    max-height: 100%;
    width: 2rem;
}

.logo{
    width: 186px;
}

.img-sp{
    width: 167px;
    
}

/* RESPONSIVE NAVBAR */
.navbar{
    background-color: black;
    
    width: 100%;
    padding-bottom: 1rem;
    position: relative;
    min-height: 3rem;
}

.navbar a{
    color: whitesmoke;
}

.navbar-toggle{
    position: relative;
    top: 0.7rem;
    left: 1rem;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.sub-main-menu{
    display: none;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 3rem;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    .active {
        display: block;
    }
}
.nav-links{
    text-decoration: none;
}

.main-nav .main-menu-item{
    text-align: center;
    margin: 2rem auto;
}

/* **********END OF RESPONSIVE NAVBAR************* */

.shopping-cart{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: orange;
    position: absolute;

    max-height: 3rem;
    width: 9rem;
    right: 1.5rem;
    top: 0;
    bottom: 0;;
}

.cart-info{
    display: flex;
    align-items:center;
    justify-content: center;
    flex: 1 0 auto;
    width: 100%;
    color: whitesmoke;
}
.cart-info:last-child{
    font-size: 1.2rem;
}

.navbar-logo img{
    width: 100%;
}



.news{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 12rem;
}


button{
    background-color: orange;
    color: whitesmoke;
    padding:0.3rem 0.8rem;
    border: none;
}

.promotions{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1140px;
    justify-content: center;
    gap: 1rem;
}

.promotions-wedding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 23.4rem;
    width: 320px;
    background-image: url(./assets/images/wed1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.promotions-brands{
    width: 320px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    height: 23.4rem;
}

/* .card-wedding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
} */

.card-levis, .card-digjam{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%;
    border: 1px solid black;
    flex: 1 0 auto;
    
}

.promotions-men{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 23.4rem;
    width: 320px;
    background-image: url(./assets/images/wed2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}

.card-men, .card-wedding{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}

.tabs{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 2rem auto;
    gap: 1rem;
}

.tab-item{
    flex: 1 0 33.333%;
    text-overflow: none;
    text-align: center;
    border-bottom: 1px solid orange;
    white-space: nowrap;
}

.tab-link{
    text-decoration: none;
    color: black;
}



.articles{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid black; */
    margin-bottom: 1rem;
    gap: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 12px 0px rgba(94, 94, 94, 0.2);
}

.card_header{
    color: orange;
}

.price{
    font-weight: bold;
}

.offer{
    font-weight: lighter;
    text-decoration: line-through;
    color: gainsboro;
}

.card .label{
    align-self: flex-end;
    padding:0.2rem 0.5rem;
    background-color: grey;
    color: whitesmoke;
}

.instructions{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/watch.jpg);
    /* background-image:  url(./assets/images/watch.jpg); */
    
    border: 1px solid black;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  
    gap: 2rem;

}

.instructions-card{

    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    gap: 1rem;
}

.instructions-card .icon{
    background-color: orange;
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    color: whitesmoke;
    border-radius: 4rem;
}

.instructions-card>h2:first-child{
    color: orange;
}

.footer{
    padding-top: 2rem;
    width: 90%;
    margin: auto;
}

.footer>p{
    line-height: 2rem;
}

.footer>h2{
    padding: 1rem 0;

}

.wrapper {
    display: flex;
    height: 2rem;
}
.wrapper input[type="email"] {
    flex: 1 1 auto;
}

.wrapper input[type="submit"]{
    flex: 1 1 3rem;

}

.informations h2{
    padding: 1rem 0; 
}

.categories{
    list-style: none;
}

.categories-item{
    margin-bottom: 1rem;
}

.categories-link{
    text-decoration: none;
}

.flickr-posts{
    margin-top: 1rem;
    width: 100%;
}

.flickr-posts h2{
    padding: 1rem 0; 
}

.flicker-images{
    display: flex;
    flex-wrap: wrap;
    gap:0.2rem;
}

.flicker-image{
    width: 4rem;
}


.copywright{
    margin: 1rem 0;
}

.copywright p{
    text-align: center;
}

.store-informations h2{
    margin: 1rem 0;
}

.signup-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* .main-menu{
    position: relative;
    
}

.main-menu-items{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.main-menu-item{
    list-style: none;
}

.main-menu-item a{
    text-decoration: none;
} */