*{
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.modal-container{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5000;
}

.modal-content{
    background-color: white;
    position: absolute;
    width: 600px;
    height: 200px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,30%);
    border-radius: 5px;
    border:1px solid #cdcdcd;
}

.form-header{
    position: relative;
    border-bottom: 1px solid #cdcdcd;
    height: 50px; 
}

h2{
    margin: 0;
    padding: 5px 15px;
}

button.close-button{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
}

button.close-button:focus{
    outline:0;
}

.form-main {
    height: 90px;
}

.username, .password{
    margin-top: 10px;
    text-align: right;
    transform: translate(-30%,40%);
}

.form-footer{
    position: relative;
    display: inline-block;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #cdcdcd;
}

.login-button, .cancel-button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 3px;
}

.login-button{
    background-color: #bada55;
    color: darkgreen;   
    border-radius: 3px;
}

.cancel-button{
    border-radius: 3px;  
    right: 55px;

}

[placeholder]{
    color: #929292;
}

::placeholder{
    color: #929292;
}