:root{
    --nav-width:4rem;
    --bg-color-primary: rgb(20,20,20);
    --bg-color-secondary: rgb(60,60,60);
    --bg-color-third:rgb(90,90,90);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    position:absolute;
    left:var(--nav-width);
    margin: 1em;  
    color: black;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: var(--nav-width);    
    background-color: var(--bg-color-primary);
}

.navbar-nav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.navbar:hover{
    width: 16rem;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.link-text{
    display: none;
    margin-left: 1rem;
    color: whitesmoke;
    
}

.nav-link i{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--bg-color-third);
}

.nav-link i:hover{
    color: purple;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    background: var(--bg-color-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
  }

.logo-text{
  display: inline;
  position: absolute;
  left: -600px;
}

.navbar:hover .link-text{
    display: inline;
}

.navbar:hover .logo-text{
    left: 0;
}

.navbar:hover .icon{
    display: none;
}

.nav-link:hover{
    background-color: var(--bg-color-secondary);
}